body {
  color: #fff;
  font-family: Ubuntu, "Lucida Grande", "Segoe UI", "Droid Sans", Verdana, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  background-color: #000;
  margin: 0;
  overflow: hidden;
}

.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
