// Colour scheme.
$black: #393339;
$white: #fefffe;

// Colour scheme as hex codes */
$color1: #ECA400;
$color2: #034732;
$color3: #008148;
$color4: #66101F;
$color5: #960200;

// Namespace of all the css classes, to avoid clashes.
$ns: 'skg'; // Square Kingdom Game.
